.btn {
	background: none;
	border: 1px solid;
	border-radius: 5px;
	border-color: black(1.0);
	color: black(1.0);

	padding: 0 1.5em;
	height: 45px;
	margin: 0;
	display: inline-block;

	font-family: $base-font-family;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	letter-spacing: .1em;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 42px;

	cursor: pointer;

	&:focus { 
	outline: none;
	}
}

/* STEP 2: Skins */
.btn--white {
	border-color: white(1.0);
	color: white(1.0);
}

.btn--large {

}
