<div class="col-md-12">
	<nav class="fixed-nav">
		<div class="col-md-12 pad-vert">
			<ul class="inline text-right text-uppercase inverse">
				<li><a href="/">Home</a></li>
				<li><a href="/sustainable-agriculture">Agriculture</a></li>
				<li><a href="/elementary-education">Elementary Education</a></li>
				<li><a href="/family-planning">Family Planning</a></li>
				<li><a href="/volunteer">Volunteer</a></li>
				<li><a href="/donate">Donate</a></li>
			</ul>
		</div>
	</nav>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="page-heading">
			<div class="page-heading-image">
				<img src="http://placehold.it/1000x600">
			</div>
			<div class="page-heading-content pad-all inverse">
				<h1 class="inverse margin-none"><span>Sustainable</span> Agriculture</h1>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-md-offset-3 pad-all page-content">
		<p>At the heart of St. Isaac's, is the sharing of agricultural skills and knowledge in order to empower the rural poor to become self-sufficient. These skills allow families to address food security and generate a secure income.</p>
		<p>St. Isaac's advocates intensive and integrated organic farming.  These techniques take a modern approach to using a small plot to maximise the productive yield over a short period of time through hard work. The approach uses natural materials and products which respect the environment and are readily and cheaply available.</p>
		<p>Integrated farming sometimes combines the rearing of animals including chickens and goats with agricultural farming thereby allowing farmers to cheaply access organic manures. Pesticides are made from plants, dung and red pepper. These techniques require minimal financial investment and maximise profits.</p>
		<p>The double dug method uses raised beds to hold water and allow plants to penetrate deeper into the soil for greater nutrient absorption. This improves yields without damaging the soil structure or the land's fertility.</p>
		<p>Chris teaches these agricultural techniques through demonstration gardens and farms which operate from people's homes and within community sites such as schools. The project is collaborative and it is intended that for every person who is educated through a demonstration garden they will share their knowledge with another three members of the community who, in turn, will pass their education on to others.</p>
		<p>Agricultural education is the backbone of the St Isaac's project; it creates a pyramid learning scheme whereby knowledge and skills are passed through a community and beyond.</p>
		<p>If you are interested in volunteering with St Isaac's agricultural programme, <a href="/volunteer">please click here.</a></p>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
	  <footer></footer>
	</div>
</div>