<div class="row">
  <div class="col-xs-12">
    <div class="section-heading">
      <h3 class="text-center"><span class="line-one">Get</span><span class="line-two"> Connected</span></h3>
     </div>
    <hr>
  </div>
  <div class="col-xs-12">
    <div class="pad-all">
    <form id="getConnected">
      <div class="input-group margin-vert">
        <label class="text-uppercase pad-horiz">Name</label>
        <input class="text-uppercase" value="" placeholder="Enter Name">
      </div>
      <div class="input-group margin-vert">
        <label class="text-uppercase pad-horiz">Email</label>
        <input class="text-uppercase" value="" placeholder="Enter Email">
      </div>
      <div class="text-area-group margin-vert">
        <label class="text-uppercase pad-left">Comment</label>
        <textarea class="pad-all text-uppercase margin-vert" value="" placeholder="Ask Us A Question. We'll Tell You No Lies"></textarea>
      </div>
      <button class="btn align-center text-center">Send</button>
    </form>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <footer></footer>
  </div>
</div>