<div class="row">
	<div class="col-md-12">
		<nav class="fixed-nav">
			<div class="col-md-12 pad-vert">
				<ul class="inline text-right text-uppercase inverse">
					<li><a href="/">Home</a></li>
					<li><a href="/sustainable-agriculture">Agriculture</a></li>
					<li><a href="/elementary-education">Elementary Education</a></li>
					<li><a href="/family-planning">Family Planning</a></li>
					<li><a href="/volunteer">Volunteer</a></li>
					<li><a href="/donate">Donate</a></li>
				</ul>
			</div>
		</nav>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="page-heading">
			<div class="page-heading-image">
				<img src="http://placehold.it/1000x600">
			</div>
			<div class="page-heading-content pad-all inverse">
				<h1 class="inverse margin-none">Donate</h1>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="fundraising">
		<div class="col-md-6 col-xs-12">
			<div class="section-heading pad-horiz">
				<h3><span class="line-one">Media &</span><span class="line-two"> Fundraising</span></h3>
			</div>
			<p class="text-block pad-horiz">The work done by St Isaac's Training Centre in Nakamini village is fantastic. We can see its potential to radically improve people's lives in this village and far beyond through the power of education. While the project is established and well known in the community in which Chris works its focus has always been on the "grass root". We do not have an international profile and fundraising is currently solely through former volunteers.</p>
			<p>If you would like to assist in raising our profile or fundraising for the Nakamini project, please contact us directly. We would be delighted to hear from you.</p>
		</div>
		<div class="col-md-6 col-xs-12">
			<img class="img-responsive" src="http://placehold.it/800x600">
		</div>
	</div>
</div>