<div class="row">
	<div class="col-md-12">
		<nav class="fixed-nav">
			<div class="col-md-12 pad-vert">
				<ul class="inline text-right text-uppercase inverse">
					<li><a href="/">Home</a></li>
					<li><a href="/sustainable-agriculture">Agriculture</a></li>
					<li><a href="/elementary-education">Elementary Education</a></li>
					<li><a href="/family-planning">Family Planning</a></li>
					<li><a href="/volunteer">Volunteer</a></li>
					<li><a href="/donate">Donate</a></li>
				</ul>
			</div>
		</nav>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="page-heading">
			<div class="page-heading-image">
				<img src="http://placehold.it/1000x600">
			</div>
			<div class="page-heading-content pad-all inverse">
				<h1 class="inverse margin-none"><span>Elementary</span> Education</h1>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-md-offset-3 pad-all page-content">
		<p>A sustainable income empowers parents to afford an education for their children. The importance of education for all is emphasised by Chris Kulabako through his work with families.</p>
		<p>In Nakamini village itself, Chris has identified the absence of a nearby primary school as a main barrier to education and academic achievement. It is not practical or safe for young undernourished children with inadequate footwear to walk for miles in the hot Ugandan sunshine to reach school. Falling behind at a young age makes it difficult to catch up later on and this results in children leaving education earlier. It is difficult for a struggling family to justify substantial school fees where a child is not achieving.</p>
		<p>In order to promote improvement, the Mccenda Pre-School was built in the heart of Nakamini village in 2015. It is only a temporary structure built by hand on borrowed land by Chris (in collaboration with local and international volunteers). Mccenda has three classes: nursery, primary one and primary two and caters for 50 pupils aged from three to twelve. The relatively small class sizes allow for a solid foundational education. By the time children have completed their exams at the end of primary two, they are usually old enough to walk to a school some miles away to confidently continue their education. It is expected that by providing local foundational education, more children will be able to proceed further in school. Ultimately it is hoped that Nakamini's children today will be tomorrow's college graduates and that they will return to this village with their skills as adults.</p>
		<p>In November 2015, Chris raised the funds he needed to purchase a one acre plot on which it is intended that Mccenda school will be permanently constructed. In the meantime, the land is used by Chris as a demonstration garden and the profits will be used to fund the cost of the construction materials. Ultimately, the land will be doubled in size and the school will be supported by a small farm which will be used to educate the pupils and the whole community. The income from the site will be used to pay teachers' salaries to ensure that financial means will not be a barrier to education for any local child.</p>
		<p>St Isaac's promotes quality education in Nakamini through collaborating with TeachFirst volunteers from the UK. If you are interested in promoting qualify education in Nakamini and nearby Namalemba, <a href="/volunteer">please click here.</a></p>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
	  <footer></footer>
	</div>
</div>