<div class="row">
	<div class="col-md-12">
		<nav class="fixed-nav">
			<div class="col-md-12 pad-vert">
				<ul class="inline text-right text-uppercase inverse">
					<li><a href="/">Home</a></li>
					<li><a href="/sustainable-agriculture">Agriculture</a></li>
					<li><a href="/elementary-education">Elementary Education</a></li>
					<li><a href="/family-planning">Family Planning</a></li>
					<li><a href="/volunteer">Volunteer</a></li>
					<li><a href="/donate">Donate</a></li>
				</ul>
			</div>
		</nav>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="page-heading">
			<div class="page-heading-image">
				<img src="http://placehold.it/1000x600">
			</div>
			<div class="page-heading-content pad-all inverse">
				<h1 class="inverse margin-none"><span>Family</span> Planning</h1>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-md-offset-3 pad-all page-content">
		<p>Uganda is currently on track to have the highest population growth in the world and some estimate that its population will increase fivefold to 130 million by 2050. It is anticipated that such a high growth rate would trap families in poverty and would be likely to result in hunger and unrest.</p>
		<p>Allowing couples to access family planning advice and supplies is an important element of preventing and relieving poverty. We hope to provide women's healthcare and birth control in Nakamini with the help of a local nurse who currently supports the local area and works with St Isaac's.</p>
		<p>There are numerous challenges to this project including cultural factors. There is an understandable fear of medication in a community that has poor access to a proper healthcare provision. Barrier methods of contraception can be taboo in committed relationships.</p>
		<p>Education and information are the primary objectives at this stage. We hope that this project will develop in the future through partnership with expert healthcare professionals. If you are able to assist this project or would like to volunteer in Nakamini village <a href="/volunteer">please contact us.</a></p>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
	  <footer></footer>
	</div>
</div>