<div class="row">
	<div class="col-md-12">
		<nav class="fixed-nav">
			<div class="col-12 pad-vert">
				<ul class="inline text-right text-uppercase inverse">
					<li><a href="/">Home</a></li>
					<li><a href="/sustainable-agriculture">Agriculture</a></li>
					<li><a href="/elementary-education">Elementary Education</a></li>
					<li><a href="/family-planning">Family Planning</a></li>
					<li><a href="/volunteer">Volunteer</a></li>
					<li><a href="/donate">Donate</a></li>
				</ul>
			</div>
		</nav>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="page-heading">
			<div class="page-heading-image">
				<img src="http://placehold.it/1000x600">
			</div>
			<div class="page-heading-content pad-all inverse">
				<h1 class="inverse margin-none"><span>Volunteer</span> With Us</h1>
				<h2 class="sub-head">Experience Uganda & Share Your Skills With Nakamini Village</h2>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="section-heading">
			<h3 class="text-center"><span class="line-one">Cost</span><span class="line-two"> Breakdown</span></h3>
		 </div>
	</div>
	<div class="col-md-12">
		<div class="pad-all">
			<p>The Nakamini project benefits from international volunteers and hopes to create long-term mutually beneficial partnerships. As such we do not charge skilled volunteers fees to work with us. We do request that volunteers cover the costs of their travel to and accommodation and food in Uganda. The following are indicative costs:</p>
				<ul class="unstyled text-center">
					<li><h4>50,000 shillings ($14)</h4><p>1 week rent in Namalemba village</p></li>
					<li><h4>100,000 shillings ($30)</h4><p>1 week local food and supplies</p></li>
				</ul>
		</div>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-12">
		<div class="section-heading">
			<h3 class="text-center"><span class="line-one">Things To Do Near</span><span class="line-two"> Nakamini Village</span></h3>
		 </div>
		<hr>
	</div>
</div>
<div class="row">
	<div id="get-invovled">
		<div class="col-lg-4 col-md-6 col-xs-12">
			<div class="pad-all">
				<img class="img-responsive" src="http://placehold.it/200/200">
				<h3 class="text-uppercase text-center">Hike Sipi Falls</h3>
				<p class="text-block">Mount Elgon and Sipi Falls are a breath of fresh air from the hard work of volunteering. At 4,321m, Mount Elgon is the eight highest mountain in Africa and a paradise for trekkers and outdoor enthusiasts. As well as multi-night expeditions there are short hikes around the local area where you will see stunning waterfalls and swim in plunge pools. There is plenty of wildlife too and bird lovers should bring their binoculars.</p>
				<p>If you're looking to relax you can enjoy amazing food, coffee and wine.</p>
			</div>
		</div>
		<div class="col-lg-4 col-md-6 col-xs-12">
			<div class="pad-all">
				<img class="img-responsive" src="http://placehold.it/200/200">
				<h3 class="text-uppercase text-center">Raft the Nile</h3>
				<p class="text-block">A trip to Uganda is not complete without having rafted the source of the Nile. This legendary river is the longest in the world and flows through eleven countries past the historic ancient sites in Egypt and out into the Mediterranean sea. In Uganda the White Nile is rough, wide and bordered on both sides by lush green vegetation. Its white water is truly incredible and when your raft flips and you are pulled through its deep rapids you can ponder the epic journey the water around you will make. You however should pop up a few metres downstream feeling like you have truly earned a Nile Special, the local beer.</p>
			</div>
		</div>
		<div class="col-lg-4 col-md-6 col-xs-12">
			<div class="pad-all">
				<img class="img-responsive" src="http://placehold.it/200/200">
				<h3 class="text-uppercase text-center">Adventure Safari</h3>
				<p class="text-block">Uganda is blessed with fantastic wildlife and highlights include Queen Elizabeth National Park and the frankly fantastically named Bwindi Impenetrable Forest. QENP is one of the most biodiverse national parks in the world, and you can see tree climbing lions, hippos, leopards, hippos and chimpanzees to name a few and over 600 bird species. There is a range of accommodation from the fairly budget to the ultra-luxurious if you are looking to unwind after a job well done. Bwindi Impenetrable Forest is a UNESCO world heritage site home to roughly half of the world's gorilla population.</p>
			</div>
		</div>
		<div class="col-lg-4 col-md-6 col-xs-12">
			<div class="pad-all">
				<img class="img-responsive" src="http://placehold.it/200/200">
				<h3 class="text-uppercase text-center">Lake Victoria</h3>
				<p class="text-block">The Ssese Islands are an archipelago of eighty-four islands in the northwestern part of Lake Victoria in Uganda. A number of islands have fantastic beaches and luxury lodges providing you with the perfect setting to unwind at the end of your trip.</p>
			</div>
		</div>
		 <div class="col-lg-4 col-md-6 col-xs-12">
			<div class="pad-all">
				<img class="img-responsive" src="http://placehold.it/200/200">
				<h3 class="text-uppercase text-center">Equator</h3>
				<p class="text-block">If you have ever wanted to have a foot in each of the Northern and Southern Hemispheres, Uganda is the place to cross that off your bucket list. You can also watch water drain clockwise and anti-clockwise and then buy a t-shirt to remember your momentous day.</p>
			</div>
		</div>
	</div>
</div>
<hr>
<div class="row">
<div class="col-xs-12">
	<div class="section-heading">
		<h3 class="text-center"><span class="line-one">Mama</span><span class="line-two"> Kendra</span></h3>
	 </div>
	<hr>
</div>
<div class="row pad-all">
	<div class="col-md-6 col-xs-12">
		<img class="img-responsive pad-all" src="http://placehold.it/400/600">
	</div>
	<div class="col-md-6 col-xs-12">
		<div class="pad-all">
			<p>Visiting Uganda for the first time can be overwhelming.</p>
			<p>We arrange an initial one or two night stay with Mama Kendra in Jinja to help our volunteers settle in to Uganda life with a hot shower, a few beers and a dozen or so puppies. Kendra has the biggest heart of anyone we know and runs a puppy rescue in Jinja town. She spends her days training and caring for dozens of puppies, training Ugandans to properly care for pups and helping out almost anyone who crosses her threshold looking for compassion.</p>
			<p>As such Kendra's world is a whirlwind and we can't promise that your stay will not involve a trip to the vets, not-quite-housetrained-pups or a fast-tracked course in Uganda life. But if you're in Uganda and you need a friend, Kendra's quite the lady to know. She will give you all the advice and contacts you need for your stay including where to buy the best chicken-on-a-stick, the phone number of a friendly chap who runs safaris and the very best emergency doctor (and everything in between).</p>
			<p>Typically Kendra will arrange transport for you from Entebbe airport to her home. After you have acclimatised, Chris will meet you at Kendra's house and drive you to Nakamini village which is about 70km away.</p>
			<p>Also, when you see Kendra, give her a hug from us :)</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
	  <footer></footer>
	</div>
</div>