<div class="col-lg-12">
  <nav class="fixed-nav">
      <div class="col-lg-12 col-xs-hidden pad-vert">
        <ul class="inline text-right text-uppercase inverse">
          <li><a href="/">Home</a></li>
          <li><a href="/sustainable-agriculture">Agriculture</a></li>
          <li><a href="/elementary-education">Elementary Education</a></li>
          <li><a href="/family-planning">Family Planning</a></li>
          <li><a href="/volunteer">Volunteer</a></li>
          <li><a href="/donate">Donate</a></li>
        </ul>
    </div>
  </nav>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="page-heading">
      <div class="page-heading-image col-xs-12">
        <img src="http://placehold.it/1000x600">
      </div>
      <div class="page-heading-content pad-all inverse">
        <h1 class="inverse margin-none"><span>The</span> Nakamini Project</h1>
        <h2 class="sub-head"><span>A Community Centered</span> Approach to Poverty Alleviation</h2>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="section-heading">
      <h3 class="text-center"><span class="line-one">Our</span><span class="line-two"> Initiatives</span></h3>
     </div>
    <hr>
  </div>
</div>
<div class="row">
  <div id="sustainable-agriculture">
    <div class="col-md-6 col-xs-12 pad-all">
      <div class="section-heading pad-horiz">
        <h3><span class="line-one">Sustainable</span><span class="line-two"> Agriculture</span></h3>
        <a class="btn btn-primary" href="/sustainable-agriculture">Learn More</a>
      </div>
    </div>
     <div class="col-md-6 col-xs-12">
       <img class="img-responsive" src="http://placehold.it/800x600">
     </div>
   </div>
</div>
<hr>
<div class="row">
  <div id="elementary-education">
    <div class="col-md-6 col-xs-12 pad-all">
        <div class="section-heading pad-horiz">
          <h3><span class="line-one">Elementary</span><span class="line-two"> Education</span></h3>
          <a class="btn btn-primary" href="/elementary-education">Learn More</a>
        </div>
    </div>
     <div class="col-md-6 col-xs-12">
       <img class="img-responsive" src="http://placehold.it/800x600">
     </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="family-planning">
      <div class="col-md-6 col-xs-12 pad-all">
      <div class="section-heading pad-horiz">
        <h3><span class="line-one">Family</span><span class="line-two"> Planning</span></h3>
        <a class="btn btn-primary" href="/family-planning">Learn More</a>
      </div>
    </div>
   <div class="col-md-6 col-xs-12">
     <img class="img-responsive" src="http://placehold.it/800x600">
   </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <div class="section-heading">
      <h3 class="text-center"><span class="line-one">Get</span><span class="line-two"> Involved</span></h3>
     </div>
    <hr>
  </div>
</div>
<div class="row">
  <div id="get-invovled">
    <div class="col-md-6 col-xs-12">
      <div class="pad-all">
        <a href="/volunteer">
          <img class="img-responsive" src="http://placehold.it/200/200">
          <h3 class="text-uppercase text-center">Volunteer</h3>
        </a>
      </div>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="pad-all">
        <a href="/donate">
          <img class="img-responsive" src="http://placehold.it/200/200">
          <h3 class="text-uppercase text-center">Donate</h3>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-12">
  <footer></footer>
</div>